/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
ion-card {
    --background: #73A5B4;
    --color: #a7c7d1fc;

}

#deleted {
    --background: #d3d3d3;
}

ion-content {
    --background: #a7c7d1fc;
    --color: #18647C;
    --border-radius: 10px;

}

ion-toolbar {
    --background: rgba(167, 199, 209, 0.99);
    --color: #18647C;
}

ion-button {
    --background: #18647C;
    --color: #18647C;
}

ion-fab-button {
    --background: #18647C;
    --color: #f5f5f5;
}

ion-input {
    background-color: #f5f5f5;
}

#home-button {
    --background: #73A5B4;
}

@media {
    :root.md {
        --ion-text-color: #18647C;
        --ion-background-color: #73A5B4;
        --ion-border-color: #18647C;
        --ion-item-background: #73A5B4;
        --ion-color-primary: #18647c;
        --ion-color-step-550: #18647C;
        --ion-text-color-step-450: #18647C;
        --ion-color-step-850: #18647C;
        --ion-font-family: "Lucida Console", courier, monospace;
    }

}

#deleted-home-button {
    --background: #818589;
}

#deleted-card {
    --background: #818589;
}

#deleted-toolbar {
    --background: #d3d3d3;
}

#signup-button,
#login-button {
    --color: #73A5B4;
}

.doneTasks {
    text-decoration: line-through;
}

