
ion-card {
    --background: #18647c;
    --color: #a7c7d1fc;
    
}

ion-content {
    --background: #a7c7d1fc;
    --color: #18647C ;
    --border-radius: 10px;
    
}

ion-toolbar {
    --background: rgba(167, 199, 209, 0.99);
    --color: #18647C;
}

ion-button {
    --background: #18647C;
    --color: #f5f5f5;
}

ion-fab-button {
    --background: #18647C;
    --color: #f5f5f5;
}

ion-input {
    background-color: #f5f5f5;  
}

@media {
    :root.md{
    --ion-text-color: #18647C;
    --ion-background-color: #73A5B4;
    --ion-border-color: #73A5B4;
    --ion-item-background: #73A5B4;
    }
         
}