
ion-content {
    --background: rgba(167, 199, 209, 0.99);
    --color: #18647C ;
    --border-radius: 10px;
}

ion-toolbar {
    --background: rgba(167, 199, 209, 0.99);
    --color: #18647C;
}

ion-button {
    --background: #18647C;
    --color: #f5f5f5;
}

ion-fab-button {
    --background: #18647C;
    --color: #f5f5f5;
}

ion-input {
    background-color: #f5f5f5;
}